@import "../vars";

.beer-preload:nth-child(2) {
	animation-delay: 0.3s;
}

.beer-preload:last-child {
	animation-delay: 0.6s;
}

.beer-preload {
	width: 100%;
	height: 33vh;
	border-radius: 20px;
	background-color: $secondaryWhite;
	padding: 15px;

	display: grid;
	grid-template-columns: 35% auto;
	margin-bottom: 25px;
	box-shadow: 10px 18px 30px rgba(0, 0, 0, 0.04);
	animation: fade_skeleton 0.6s ease-out 1 both;

	@keyframes fade_skeleton {
		0% {
			opacity: 0;
			transform: translateY(10px);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.preload-img {
		align-self: stretch;
		width: 100%;
		height: 100%;
	}

	.preload-text {
		display: grid;
		grid-template-rows: 60px auto 45px;
		padding-left: 15px;
		align-items: center;

		.heading {
			margin-bottom: 20px;
		}

		.actions {
			width: 100%;
		}
	}
}
